* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: Poppins, sans-serif;*/
}

:root {
  --first-color: #0e2431;
  --background-color: rgb(0, 36, 56);
  --span-color: rgb(45, 101, 255);
  --line-color: #d7d7d7;
  --box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
  --font: 600;
}

::-webkit-scrollbar {
  width: 10px;
  background: rgb(0, 36, 56);
}

::-webkit-scrollbar-thumb {
  background: rgb(141, 141, 141);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(165, 165, 165);
}

@font-face {
  font-family: "NTR";
  font-weight: 200;
  font-display: fallback;
  src: url("/fonts/NTR-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*<============ HOME ============>*/

#header {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 36, 56);
}

nav.sticky {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  border-radius: 1em;
}

nav.sticky .nav {
  height: calc(2.5rem + 1rem);
}

.logo {
  width: 250px;
  height: 250px;
  margin-left: 65%;
  margin-top: -205px;
}

.container {
  padding: 10px 10%;
  font-family: 'Mulish', sans-serif;
}

nav {
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  left: 32%;
  position: fixed;
  display: flex;
  backdrop-filter: blur(20px);
  transition: .6s ease;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0082ce;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
    border-radius: 2em;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
  margin-top: 20%;
  margin-left: 10%;
}

.header-text h1 {
  color: #fff;
  font-size: 60px;
  margin-top: 330px;
  margin-bottom: 15px;
  margin-left: 80px;
  font-family: 'NTR';
}

.header-text h1 span {
  color:var(--span-color);
  font-family: "NTR", sans-serif;
}

.header-text h2 {
  color: rgb(255, 255, 255);
  font-family: 'Mulish', sans-serif;
}

.socials a {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  margin-right: -300px;
  margin-left: 25%;
  margin-top: 15px;
  text-decoration: none;
  /*background-color: rgba(255, 255, 255, 0.1);*/
  justify-content: center;
}

.typing {
  width: 16.6ch;
  animation: typing 3s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  line-height: 80%;
}

@keyframes typing {
  from
  {
    width: 0;
  }
}

@keyframes blink {
  50%
  {
    border-color: transparent;
  }    
}

.scroll-down {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 13%;
  margin-left: 36%;
  text-decoration: none;
  position: absolute;
}

.scroll-down i {
  font-size: 1.2em;
  margin-left: 3px;
  animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
  0%
  {
    transform: translateY(0);
  }
  30%
  {
    transform: translateY(5px);
  }
}

/*<============ ABOUT ============>*/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 2rem 2rem;
  font-family: 'Mulish', sans-serif;
  background-color: var(--background-color);
  height: 800px;
  color: #fff;
}

.title-01 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 2rem;
}

.about-img {
  position: absolute;
}

.about-img img {
  margin-left: 260px;
  margin-bottom: 20px;
  width: 400px;
  height: 400px;
}

.container {
  position: relative;
  flex-direction: column;
}

#about .container .content {
  column-gap: 40px;
  width: 100%;
}

.about-info .description {
  max-width: 600px;
}

.about-info .description h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-info .description h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-info .description h4 span {
  color: #0082ce;
}

.about-info .description p {
  font-size: 1.1em;
  margin-bottom: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--line-color);
}

.about-info .professional-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  list-style-type: none;
}

.about-info .professional-list .list-item h3 {
  font-size: 2.5em;
  font-weight: 700;
}

.about-info .professional-list .list-item span {
  color: #0082ce;
  font-size: 1em;
}

.description span {
  color: var(--span-color);
}

/*<============ SKILLS ============>*/

#skills {
  font-family: 'Mulish', sans-serif;
  background-color: var(--background-color);
  color: #fff;
  height: 800px;
}

.title-02 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 5px;
}

.skills-container {
  row-gap: 2rem;
  text-align: center;
}

.skills-subtitle {
  margin-bottom: 5px;
}

.skills-text {
  margin-bottom: 2rem;
  font-size: 19px;
}

.skills-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font);
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  box-shadow: 0px 10px 50px rgba(14, 36, 49, 0.15);
  height: 73px;
}

.skills-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: hsl(224, 89%, 60%);
}

.skills-names {
  display: flex;
  align-items: center;
  color: black;
}

.skills-bar {
  height: 7px;
  background: #d4d4d4;
  width: 87ch;
  border-radius: .5rem;
  margin-top: 2px;
}

.skills-per {
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #0082ce;
  border-radius: .5rem;
  height: .35rem;
}

.skills-html {
  width: 75%;
}

.skills-css {
  width: 85%;
}

.skills-js {
  width: 60%;
}

.skills-java {
  width: 55%;
}

.skills-ux {
  width: 50%;
}

.grid {
  margin-left: 400px;
  margin-right: 400px;
  background-color: #fff;
}

.skills-percentage {
  color: black;
  display: flex;

}